
{% extends 'frontend/base.html.twig' %}


{% block body %}

<div class="about-box" id="about">
    <div class="about-box__bg js-parallax-bg-top"></div>
    <div class="page-top__content">
        <div class="about-box__wrap inner">

            <div class="about-box__title-box page-title-box">
                <div class="about-box__title page-title">
                    {{ block2.name | raw }}
                </div>
            </div>
            <div class="about-box__content">
                <div class="about-box__index" data-aos="fade-up">
                    {{ block2.text | raw }}
                </div>
                <div class="about-box__desc" data-aos="fade-up">
                    <p>
                        <mark>{{ block2.subtext | raw }}</mark>
                    </p>

                    {{ block2.alttext | raw }}

                     </div>
                <div class="about-box-list">
                    <div class="about-box-list__inner">
                        <div class="about-box-list__wrapper">
                            {% for item in aboutCompany %}
                                <div class="about-box-list__box" data-aos="fade-up">
                                    <div class="about-box-list__item">
                                        <div class="about-box-list__number">{{ loop.index }}</div>
                                        <div class="about-box-list__desc">
                                            {{ item.text }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="about-box-list__btn-box" data-aos="fade-up">
                        <button type="button"
                                class="about-box-list__btn btn btn--type-1 js-modal-link"
                                data-id="#feedback">{% trans %} связаться с нами {% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}