{% extends 'base.html.twig' %}


{% block body %}

    <div class="services-box" id="services">
        <div class="services-box__bg js-parallax-bg-bottom"></div>
        <div class="services-box__wrap inner-box">
            <div class="services-box__title-box">
                <div class="services-box__title page-title _top">
                    {{ services[0].mainname }}
                </div>
            </div>
            <div class="services-box-list js-animate" data-aos="fade-up">
                <div class="services-box-list__inner swiper-container js-services-slider">
                    <div class="services-box-list__wrapper swiper-wrapper">
                        {% for item in services %}
                        <div class="services-box-list__box swiper-slide">
                            <div class="services-box-list__item">
                                <div class="services-box-list__square">
                                    <div class="services-box-list__number">{{ loop.index }}</div>
                                </div>
                                <div class="services-box-list__name">{{ item.name | raw}}</div>
                                {% if item.urltext %}
                                    <button type="button" class="services-box-list__link js-modal-link"
                                            data-id="#info-box-service3">подробнее
                                    </button>
                                {% endif %}
                                {% if item.src %}
                                    <a href="{{ item.src }}" type="button"
                                       class="services-box-list__link js-modal-link">{{item.urltext}}</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}