<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
        <meta name="HandheldFriendly" content="True">

        <title>{% block title %}IMBA-IT – Системный интегратор{% endblock %}</title>
        <meta name="keywords" content="IMBA-IT,системный интегратор,HPE">
        <meta name="description" content="IMBA-IT – реализуем комплексные IТ-проекты">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/apple-touch-icon-1.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/favicon-32x32-1.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/android-chrome-192x192-1.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon-16x16-1.png') }}">
        <link rel="manifest" href="{{ asset('assets/site-1.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('assets/safari-pinned-tab-1.svg') }}" color="#da532c">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/html/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/html/css/table.css') }}">
        {% endblock %}
    {% endblock %}

</head>
<body>

{% block body %}

    {{ include('frontend/header/header.html.twig', {'navigation' : navigation}) }}
    <div class="page">
        <main class="page__main">
            <div class="page-top">
                <div class="page-top__header">

                    {{ include('frontend/blocks/block1.html.twig', {'block1' : block1} ) }}


                    {{ include('frontend/blocks/block2.html.twig', {'block2' : block2 , 'aboutCompany' : aboutCompany} ) }}

                </div>
                <div class="page-top__logo">
                    <img src="{{ asset('assets/html/img/logo-big.svg') }}" alt="">
                </div>
            </div>

            {{ include('frontend/blocks/slider.html.twig', {'slider' : slider}) }}

            {{ include('frontend/blocks/block4.html.twig' , {'services' : services} ) }}

            {{ include('frontend/blocks/block5.html.twig', {'solutions' : solutions} ) }}

            <style>
                .html_svg svg {
                    height: 90px;
                    width: 100%;
                }
            </style>

            {{ include('frontend/blocks/brandBox.html.twig' , { 'brands' : brands }) }}

            {{ include('frontend/blocks/contactBox.twig' , {'config' : config }) }}

        </main>

        {{ include('frontend/modal/modal.html.twig',{ 'form' : form}) }}

        {{ include('frontend/modal/info.html.twig', {'req' : req , 'config': config }) }}


        <div id="send-good" class="modal js-modal">
            <div class="modal__h-box js-modal-close"></div>
            <div class="modal-form _middle js-modal-content">
                <button class="modal-form__close js-modal-close" type="button">
                    <span class="i-close"></span>
                </button>
                <div class="modal-form__content">
                    <div class="modal-form__title">
                        Cпасибо за заявку
                    </div>
                </div>
            </div>
        </div>

        {{ include('frontend/modal/equipment.html.twig', {'enq' : enq }) }}

    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/html/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/html/js/vendors.min.js') }}"></script>
    <script src="{{ asset('assets/html/js/scripts.min.js') }}"></script>
{% endblock %}
</body>
</html>
